absl-py
addict
aiofiles
aiohttp
aiohttp-cors
aiosignal
alabaster
amqp
ansicon
anyio
appdirs
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
asn1crypto
asttokens
astunparse
async-lru
async-timeout
attrdict
attrs
Babel
backcall
backports.functools-lru-cache
beautifulsoup4
bidict
billiard
bleach
blessed
blinker
blis
boto3
botocore
Brotli
brotlipy
build
CacheControl
cachetools
catalogue
celery
certifi
cffi
chardet
charset-normalizer
clearml
cleo
click
click-didyoumean
click-plugins
click-repl
clipboard
cloudpickle
coincurve
colorama
coloredlogs
colorful
comet-ml
confection
configobj
contourpy
crashtest
cryptography
#cupy
cycler
cymem
cytoolz
dacite
debugpy
decorator
defusedxml
Deprecated
dill
distlib
dnspython
docker
docker-pycreds
docutils
dulwich
dynaconf
eciespy
eth-hash
eth-keys
eth-typing
eth-utils
eventlet
everett
executing
fastai
fastapi
fastcore
fastdownload
fastjsonschema
fastprogress
fastrlock
fedml
fiftyone
fiftyone-brain
fiftyone-db
filelock
Flask
Flask-SocketIO
flatbuffers
flatten-json
flower
flwr
fonttools
fqdn
frozenlist
fsspec
ftfy
furl
future
gast
gensim
gevent
geventhttpclient
gitdb
GitPython
glob2
globox
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
gpustat
GPUtil
graphql-core
graphviz
greenlet
grpcio
h11
h2
h5py
hpack
html5lib
httpcore
httplib2
httpx
humanfriendly
humanize
hypercorn
hyperframe
idna
imageio
imagesize
importlib-metadata
installer
ipykernel
ipython
isoduration
iterators
itsdangerous
jaraco.classes
jedi
Jinja2
jinxed
jmespath
joblib
json5
jsonpointer
jsonschema
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
kaleido
keras
keyring
kiwisolver
kombu
langcodes
lazy_loader
libclang
lightning-utilities
lockfile
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mkl-fft
mkl-random
mkl-service
mnist
mongoengine
more-itertools
motor
mpmath
msgpack
multidict
multiprocess
murmurhash
nbclient
nbconvert
nbformat
ndjson
nest-asyncio
networkx
notebook_shim
ntplib
numpy
nvflare
nvidia-ml-py
nvidia-ml-py3
oauthlib
onnx
onnx-simplifier
onnxruntime
opencensus
opencensus-context
opencv-python
opencv-python-headless
#openfl
opt-einsum
orderedmultidict
overrides
packaging
paho-mqtt
pandas
pandocfilters
parso
pathlib2
pathtools
pathy
patool
pdfminer.six
pdfplumber
pefile
pexpect
pickleshare
Pillow
pkginfo
platformdirs
plotly
poetry
poetry-core
poetry-plugin-export
pprintpp
preshed
priority
progressbar
prometheus-client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-spy
pyasn1
pyasn1-modules
pycocotools
pycparser
pycryptodome
pydantic
Pygments
PyJWT
pymongo
PyNaCl
pynvml
pyOpenSSL
pyparsing
PyPDF2
pyperclip
pyproject_hooks
pyreadline3
pyrsistent
PySocks
python-box
python-dateutil
python-engineio
python-json-logger
python-rapidjson
python-socketio
pytorch-lightning
pytz
pytz-deprecation-shim
PyWavelets
#pywin32
#pywin32-ctypes
#pywinpty
PyYAML
pyzmq
rapidfuzz
ray
redis
regex
requests
requests-oauthlib
requests-toolbelt
retrying
rfc3339-validator
rfc3986
rfc3986-validator
rich
rsa
s3transfer
scikit-image
scikit-learn
scipy
seaborn
semantic-version
Send2Trash
sentry-sdk
setproctitle
shellingham
shortuuid
simplejson
six
#sklearn
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
srsly
sse-starlette
sseclient-py
stack-data
starlette
strawberry-graphql
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
thinc
thop
threadpoolctl
tifffile
tinycss2
toml
tomli
tomlkit
toolz
torch
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
tritonclient
trove-classifiers
typer
typing_extensions
tzdata
tzlocal
ultralytics
universal-analytics-python3
uri-template
uritemplate
urllib3
uvicorn
vine
virtualenv
voxel51-eta
Wand
wandb
wasabi
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wget
win-inet-pton
wincertstore
wrapt
wsproto
wurlitzer
xmltodict
yarl
zipp
zope.event
zope.interface
